body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    background-color: rgb(53, 53, 53);
    background-image: url(../img/piramidesBlack.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;    
}
/* nav */ 
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    margin-top: 0;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #161616;
    height: 8vh;
    width: 100%;
    padding-left: 1%;
    /* padding-right: 1%; */
    margin-top: 0;
  }    
/* nav */